<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud basica</title>
</head>
<body>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm col-md col-lg">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <div class="card-title text-center">Calculadora de integrales</div>
            <div class="mt-3">
              <form>
                <div class="form-group">
                  <textarea rows="4" name="expresion"  placeholder="Escriba expresión" [(ngModel)]="expresionString.expression" id="" class="form-control">{{expresionString.expression}}</textarea>
                </div>
                <div class="form-group mt-5 margin">
                  <div class="row">
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('^')" ><span>x^n</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('raiz')" ><span>&#8730;</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('e')" ><span>e</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('log')" ><span>Ln</span></button></div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('infinity')" ><span>&#8734;</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('cos')" ><span>cos</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('sin')" ><span>sen</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('tan')" ><span>tan</span></button></div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('+')" ><span>+</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('-')" ><span>-</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('*')" ><span>*</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement('/')" ><span>/</span></button></div>
                  </div>
                  <div class="row text-center mt-3">
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="addElement(' from x=0 to x=1')" ><span>lim</span></button></div>
                    <div class="col-sm col-md col-lg"><button class="btn btn-primary" (click)="result()" ><span>=</span></button></div>
                  </div>
                </div>
              </form>
            </div>
            <!-- <div class="form-group">
              <input type="text" name="nombre"  placeholder="Nombre del empleado"  id="" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="pais"  placeholder="Pais del empleado" id="" class="form-control" >
            </div>
            <button (click)="addElement('cos')" class="btn btn-primary" >cos</button> -->
          </div>
        </div>
      </div>
      <div class="col-sm col-md col-lg">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <div class="card-title text-center">Solución</div>
            <div class="mt-3">
              <div class="form-group">
                <label for="">Resultado</label>               
                <textarea rows="4" name="expresion" readonly  placeholder="Escriba expresión" id="" class="form-control">{{response.plaintext}}</textarea>
                <!-- <input type="text" name="nombre"  readonly  id="" class="form-control" > -->
              </div>
              <label for="">Imagen</label>
              <br>
              <img [src]="response.img" alt="">
            </div>
            <!-- <div class="form-group">
              <input type="text" name="nombre"  placeholder="Nombre del empleado"  id="" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="pais"  placeholder="Pais del empleado" id="" class="form-control" >
            </div>
            <button (click)="addElement('cos')" class="btn btn-primary" >cos</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
</body>
</html>